body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}



.heading-016 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
}

.heading-016::before,
.heading-016::after {
    width: 3px;
    height: 40px;
    background-color: #2589d0;
    content: '';
}

.heading-016::before {
    transform: rotate(-35deg);
    margin-right: 30px;
}

.heading-016::after {
    transform: rotate(35deg);
    margin-left: 30px;
}



.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%; /* Make the card expand to fit the container */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}
.card__imgframe{
width: 100%;
height: auto;
padding-top: 56.25%;
background: #bbb;
box-sizing: border-box;
}
.card__textbox{
width: 100%;
height: auto;
padding: 20px 18px;
background: #fff;
box-sizing: border-box;
}
.card__textbox > * + *{
margin-top: 10px;
}
.card__titletext{
font-size: 20px;
font-weight: bold;
line-height: 125%;
}
.card__overviewtext{
font-size: 12px;
line-height: 150%;
}

.card td[name="word"] {
    font-size: 1.5em;
    font-weight: bold;
}



.search-form-002 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid #2589d0;
    border-radius: 25px;
    width: 35%;
    box-sizing: border-box; /* Include padding and border in the width and height */
}

.search-form-002 input {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    border: none;
    padding: 5px 15px;
    box-sizing: border-box; /* Include padding and border in the width and height */
    font-size: 1em;
    outline: none;
}

/* Rest of your CSS remains unchanged */


.search-form-002 input::placeholder{
    color: #767d83;
}

.search-form-002 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #2589d0;
    cursor: pointer;
}

.search-form-002 button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}




.button-051 {
    display: flex;
    justify-content: center;
    position: relative;
    width:35px;
    padding: .0em 0.5em;
    border: none;
    border-bottom: 2px solid #e6edf3;
    background-color: transparent;
    color: #103f61;
    font-weight: 600;
    font-size: 1em;
    margin-left: auto;
}

.button-051::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center right;
    width: 100%;
    height: 2px;
    background-color: #2589d0;
    content: '';
    transition: transform .2s ease;
}

.button-051:hover::after {
    transform: scaleX(1);
}



.button-061 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    margin: 0 auto;
    padding: .9em 3.2em .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: #2589d0;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2028%2028%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2214%22%20cy%3D%2214%22%20r%3D%2214%22%20style%3D%22fill%3A%23fff%3B%22%2F%3E%0A%3C%2Fsvg%3E);
    background-position: right 3em center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.button-061:hover {
    background-color: #1579c0;
}

.button-061::before,
.button-061::after {
    position: absolute;
    right: calc(3.6em - 1.5px);
    width: 3px;
    height: 10px;
    border-radius: 1px;
    background-color: #2589d0;
    content: '';
}

.button-061::before {
    transform: rotate(90deg);
}



.footer-002 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px 10px;
    background-color: #2589d0;
}

.footer-002__logo {
    width: 130px;
    height: 30px;
}

.footer-002__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5em;
    list-style-type: none;
    margin: 0 0 .5em;
    padding: .5em;
}

.footer-002__sns-icon {
    width: 21px;
    height: 21px;
}

.footer-002__copyright {
    margin: 0;
    color: #ffffffb3;
    font-weight: 200;
    font-size: .8em;
}